<script>
  document.addEventListener("DOMContentLoaded", function() {
    const hobbiesBtn = document.querySelector(".hobbies-btn");
    const hobbiesContainer = document.querySelector(".hobbies-container");
  
    hobbiesBtn.addEventListener("click", function() {
      hobbiesContainer.classList.toggle("show");
    });
  });
  </script>
  
  </body>
</html>